.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas,Sans-Serif;
}

body{
  background:#303030;
  color: white;
}

.header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin: 0px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover {
  color: #00abf0;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
}

.home-content h3{
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

a {
  color:#00abf0;
}

.home-content h2{
  color:;
}

.panel{
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin: 0px;
  background: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.footer{
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  margin: 0px;
  background: #212121;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.code{
  background: #424242;
}

button{
  background-color: #00abf0;
  border-radius: 5px;
}

/* table styling */

table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-family: Arial, sans-serif;
            border: 1px solid #ddd; /* Add border to the table */
        }

        td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd; /* Add border to each cell */
        }

        .table-header {
            font-weight: bold;
            font-size: 18px;
            text-align: center;
        }
   